<!-- templates/products/product_list.html -->
{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
    <h2>All Products</h2>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product_detail' product.pk %}">
                    {{ product.name }} - ${{ product.price }}
                </a>
                |
                <a href="{% url 'product_edit' product.pk %}">Edit</a>
                |
                <a href="{% url 'product_delete' product.pk %}">Delete</a>
            </li>
        {% empty %}
            <li>No products found.</li>
        {% endfor %}
    </ul>
{% endblock %}
